%ul.list.inset
  - @tasks.each do |task|
    %li
      %a{href: task_path(task)}
        %strong= task.name
      -#   %span.chevron
      -# -# %td= task.description
      -# -# %td= task.percentage_complete
      -# -# %td= link_to 'Edit', edit_task_path(task)
      -# -# %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%a.button-block{href: new_task_path} New Task
